img {
    width: 100%;
    max-width: 300px;
}

.mat-paginator-page-size {
    display: none;
}
.logo {
    width: 48px;
    height: 48px;
    margin: 0 20px;
}
mat-toolbar {
    background: #3e2723;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
    z-index: 9;    
    }
a {
    text-decoration: none;
    color: #fff;
}