img {
    width: 100%;
    height: 400px;
    max-width: 1200px;
    object-fit: cover;
    margin: 40px auto;
    display: block;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 1.1rem;
    line-height: 31px;
    color: #212121;
    margin: 10px;
    
}
h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Yeseva One", cursive;
    margin-bottom: 1rem;
}
.date {
    text-align: center;
    font-weight: 800;
    font-size: 1rem;
    margin-bottom: 4rem;
}
:host {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}