<app-site-header></app-site-header>
<div class="wrapper">
  <mat-card class="article-card" *ngFor="let post of posts" >
    <a href="{{post.slug}}" mat-card-image>
      <img src="/assets/content/images/{{post.slug}}.jpeg" alt="{{post.title}}">
    </a>
    <mat-card-header>
      <mat-card-title><a href="{{post.slug}}">{{post.title}}</a></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{post.excerpt}}
      </p>
    </mat-card-content>
  </mat-card>
</div>
<mat-paginator [length]="config.numberOfArticles" [pageSize]="9" (page)="pageEvent = changePage($event)" pageIndex="{{pageNumber}}"> 
  aria-label="Select page">
</mat-paginator>
