.article-card {
    width: 100%;
    justify-self: center;
    box-sizing: border-box;
    margin-bottom: 10px;
    img{
        height: 200px;
        object-fit: cover;
    }
    mat-card-content {
        p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3; /* number of lines to show */
                    line-clamp: 3; 
            -webkit-box-orient: vertical;
        }
    }
   
    .mat-card-header-text {
        margin: 0;
    }
    mat-card-title {
        overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1; /* number of lines to show */
                    line-clamp: 1; 
            -webkit-box-orient: vertical;
            margin-left: -16px;
            font-family: "Yeseva One", cursive;
          a {
            text-decoration: none;
            color: #212121;
          }


    }
}
mat-card-header {
    div {
        margin: 0;
    }
}
.mat-paginator-page-size-value {
    display: none;
}
// make a css grid with fill columns
.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-card-width, 300px), 1fr));
    grid-gap: 10px;
    max-width: 920px;
    margin: 0 auto;
    box-sizing: border-box;
    @media (max-width: 930px) {
        margin: 20px;
    }
    @media (max-width: 825px) {
        --min-card-width: 250px;
    }
  
}
mat-paginator::ng-deep .mat-paginator-page-size {
    display: none;
}